* {
    color: white;

    font-family: inherit;
    word-break: normal !important;

    text-decoration: none !important;

    transition: all 0.15s ease !important;
}

ul {
    padding: 0 !important;
    margin: 0 !important;
    
    list-style: none !important;
}

li::marker {
    font-size: calc(1rem + 1vh);
}

select {
    margin-top: 0.5vh;

    border: none !important;
    border-radius: 0.375em !important;

    font-size: calc(0.75rem + 0.75vh) !important;
    font-weight: 500 !important;

    background-color: rgba(213, 214, 121, 0.875) !important;

    box-shadow: none !important;
}

option {
    color: black !important;

    background-color: rgb(180, 182, 102) !important;
}

.panel {
    position: relative;

    height: 100vh !important;
    padding: 0 !important;
}

.side-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh !important;
    padding: 2.5vh 1vmax !important;

    border-right: 0.1vmax solid rgba(255, 255, 255, 0.5);

    background-color: rgb(30, 48, 48) !important;
}
.side-panel:is(.midnight-fireplace) {
  background: linear-gradient(90deg, rgb(105, 0, 70), rgb(14, 3, 116));
}